* {
 background-color: hsl(180,40%,70%);
}

.lady {
 width:300px;
 border-left: solid;
 border-right: solid;
 border-bottom: solid;
 margin:auto;
 margin-top:-10px;
 padding:10px;
 text-align: center;
 text-transform: uppercase;
 word-spacing:0.5em;
 border-color: hsl(180,0%,87%);
}

.movies {
 border-style:solid;
 display:inline;
 padding-left:22%;
 padding-right:21%;
 margin-left: -3px;

}

.games {
 border-style:solid;
 display:inline;
 padding-left:21%;
 padding-right:21%;
 margin-left: -2px;
}